.DS_Store
node_modules/
dist/
.temp/
_packages/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
screenshots/
reports/
selenium-debug.log

_dist/
m/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.un~
