<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
  <!-- Compatible with UC browser: https://www.zhihu.com/question/29769089 -->
  <meta name="wap-font-scale" content="no">

  <!-- DNS Prefetch -->
  <!-- <link rel="dns-prefetch" href="https://yourdomain.com" /> -->

  <!--fav icon and title-->
  <link rel="icon" href="https://gw.alipayobjects.com/zos/rmsportal/OxWynoqNLVtXaLfSEOcH.png" type="image/png"/>
  <title>{{ name }}</title>

  <!-- SPM -->
  <meta name="data-bizType" content="" /> <!-- TODO -->
  <meta name="data-aspm" content="" /> <!-- TODO -->

  <%- include src/ejs-templates/flex.ejs -%>
</head>
<body>
<div id="app"></div>
</body>
</html>

